@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply rounded-full py-1 px-4 hover:bg-fuchsia-950 hover:text-white transition-all;
}
.sub-heading {
  @apply text-fuchsia-950 font-extrabold underline text-2xl;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}
/* Hide scrollbar for the entire application */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer & Edge */
}
